{% extends "base.html" %}

{% block content %}
<nav style="text-align: right; font-size: 0.8em; padding: 0.3em;margin-bottom: 1em; background: #fafafa;">
    <a style="color:#377BA8" href="{% url 'index' %}">Return</a></br>
</nav>
<h2 style="color:#377BA8; font-family: 'Georgia', serif; margin: 0;font-size: 1.6em;">Add Entry</h2>
<form action="{% url 'added' %}" method="post">
    {% csrf_token %}

    <p>Title:<input name="title" type="text" /></p>
    <p>Entry:<input name="entry" type="text" /></p>
    <input type="submit" value="Send" />
</form>
{% endblock %}